@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap");

// 顏色設定
$secondary-color: #f5f5f5;
$text-color: #333;
$background-color: #ffffff;
$light-red: #e96669;
$dark-red: #d02b2f;
$text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
$gray-shadow: 2px 2px 3px rgba(90, 90, 90, 0.9);
$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
$fashion-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5);
$border: 2px 2px solid black;
$filter: blur(5px);
// 間距設定
$padding-section: 60px;
// 尺寸設定
$desk_normal: 1350px; //桌機螢幕切換尺寸
$tablet: 1024px; //平板尺寸 (ipad pro)
$tablets: 960px; //平板尺寸 (ipad)
$mobile: 767px; //手機尺寸

* {
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
    // 盒子大小：框線盒子 (規範網頁盒子範圍)
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: rgb(255, 255, 255);
}

.header {
    position: fixed;
    align-items: center;
    width: 100%;

    .nav {
        position: fixed;
        flex-grow: 1;
        margin-left: 50px;
        right: 30px;
        top: 50px;
        display: block;

        .logo {
            width: 100px;

            img {
                width: 100px;
            }
        }

        hr {
            width: 70px;
            background: $light-red;
        }

        ul {
            display: flex;
            gap: 15px;
            list-style: none;
            display: block;
            background: $background-color;

            li {
                margin: 5px 0;
                text-align: center;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bolder;

                    &:hover {
                        color: $dark-red;
                    }
                }
            }
        }
    }
}

// Hero Section區
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/hero-bg.jpg"); // 替換成背景圖片的路徑
    background-size: cover;
    background-position: center;
    color: $background-color;
    text-align: center;
    max-width: 1100px;
    margin: 0 150px auto;

    // 動畫區域
    .animation-container {
        position: relative;
        width: 1000px;
        height: 570px;
        overflow: hidden;
        margin: 0 50px;

        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
            }
        }

        .active {
            opacity: 1;
        }
    }

    .hero-content {
        max-width: 600px;

        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: #000;
        }

        p {
            font-size: 1rem;
            margin: 30px 0;
            color: #000;
        }
    }
}

// About Section
.about-section {
    padding: $padding-section 0;
    background-color: $secondary-color; // 使用較淺的背景色讓內容突出
    max-width: 900px;
    margin: 0 auto;

    .section-title {
        text-align: center;
        font-size: 1.8rem;
        color: $light-red;
        margin-bottom: 30px;
    }

    .about-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .about-intro {
            flex: 1;
            max-width: 50%;
            padding-right: 20px;

            h3 {
                font-size: 1.5rem;
                color: $light-red;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
                line-height: 1.8;
                color: $text-color;

                &:first-of-type {
                    color: $secondary-color;
                    font-size: 1.1rem;
                    margin-bottom: 20px;
                }
            }
        }

        .about-icons {
            flex: 1;
            max-width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .icon-box {
                text-align: center;
                max-width: 180px;
                height: 300px;
                background-color: lighten($light-red, 45%);
                border-radius: 8px;
                padding: 20px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

                .icon {
                    width: 50px;
                    height: 50px;
                    margin: 0 auto 10px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                h4 {
                    font-size: 1.2rem;
                    color: $light-red;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 0.9rem;
                    color: $text-color;
                    line-height: 1.6;
                }
            }
        }
    }
}

// About Us
.about-us-section {
    padding: 60px 0;
    background-color: #f9f9f9;
    margin: 0 auto;

    .section-title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 2em;
        color: #333;
    }

    .team-members {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .team-member {
            background: white;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 20px;
            max-width: 250px;

            .member-image img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 1.2em;
                color: #333;
                margin-bottom: 10px;
            }

            p {
                font-size: 0.9em;
                color: #666;
                margin-bottom: 10px;
            }

            .member-role {
                display: block;
                font-size: 0.85em;
                color: #999;
            }
        }
    }

    .show-more {
        text-align: center;
        margin-top: 20px;

        .btn-secondary {
            background-color: $light-red;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1em;
            transition: background-color 0.3s;
            border: none;

            &:hover {
                background-color: $dark-red;
            }
        }
    }
}

// Services Section
.services-section {
    padding: $padding-section 0;
    text-align: center;
    background-color: $secondary-color;
    max-width: 900px;
    margin: 0 auto;

    .section-title {
        font-size: 2rem;
        color: $light-red;
        margin-bottom: 40px;
    }

    .service-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .service-item {
            flex: 1;
            max-width: 300px;
            margin: 0 10px;
            text-align: center;

            .icon-container {
                width: 100px;
                height: 100px;
                margin: 0 auto 20px;
                background-color: lighten($light-red, 45%);
                clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%); // 六邊形
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 50%;
                    height: auto;
                }
            }

            h3 {
                font-size: 1.3rem;
                color: $light-red;
                margin: 10px 0;
            }

            p {
                font-size: 0.95rem;
                color: $text-color;
                line-height: 1.6;
            }
        }
    }
}

// Process Section區
.process-section {
    padding: $padding-section 0;
    text-align: center;
    margin: 0 auto;

    .section-title {
        font-size: 2rem;
        color: $light-red;
        margin-bottom: 40px;
    }

    .process-circle {
        position: relative;
        width: 600px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .step {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 200px;

            .circle {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                font-weight: 700;
                color: #fff;
                margin-bottom: 10px;

                &.red {
                    background-color: #e74c3c; // 紅色
                }
                &.black {
                    background-color: #333; // 黑色
                }
                &.gray {
                    background-color: #bdc3c7; // 灰色
                }
            }

            .step-content {
                h3 {
                    font-size: 1rem;
                    color: $text-color;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 0.9rem;
                    color: darken($text-color, 20%);
                    line-height: 1.5;
                }
            }
        }

        // 各步驟位置調整
        .step-1 {
            top: 0%;
            left: 50%;
            transform: translate(-40%, 0);
        }
        .step-2 {
            top: 30%;
            right: 0;
            transform: translate(0, -50%);
        }
        .step-3 {
            bottom: 30%;
            right: 0;
            transform: translate(0, 50%);
        }
        .step-4 {
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .step-5 {
            bottom: 30%;
            left: 0;
            transform: translate(0, 50%);
        }
        .step-6 {
            top: 35%;
            left: 0;
            transform: translate(0, -50%);
        }

        // 使用 ::after 繪製箭頭
        .step::after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: #aaa;
            position: absolute;
        }

        // 個別箭頭的旋轉和位置
        .step-1::after {
            transform: rotate(35deg);
            top: 50%;
            left: 100%;
        }
        .step-2::after {
            transform: rotate(90deg);
            top: 120%;
            left: 43%;
        }
        .step-3::after {
            transform: rotate(330deg);
            bottom: 55%;
            left: -5%;
        }
        .step-4::after {
            transform: rotate(210deg);
            bottom: 110%;
            right: 90%;
        }
        .step-5::after {
            transform: rotate(270deg);
            top: -12%;
            right: 43%;
        }
        .step-6::after {
            transform: rotate(145deg);
            top: -15%;
            right: -5%;
        }
    }
}

// Portfolio Section區
.portfolio-section{
    padding: $padding-section 0;
    background-color: $secondary-color;
    max-width: 900px;
    margin: 0 auto;

    .portfolio-carousel {
        display: flex;
        justify-content: center;
        align-items: center;

        .portfolio-item {
            text-align: center;
            padding: 10px;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                max-width: 100%;
                border-radius: 8px;
                margin-bottom: 10px;
            }
        }
    }
}

// Contact Section區
.contact-section {
    padding: $padding-section 0;
    text-align: center;
    margin: 0 auto;

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: auto;

        input,
        textarea {
            width: 100%;
            padding: 15px;
            margin-bottom: 15px;
            border: 1px solid lighten($text-color, 40%);
            border-radius: 5px;
            font-size: 1rem;
        }

        button {
            padding: 15px 30px;
            background-color: $light-red;
            color: $background-color;
            border: none;
            border-radius: 5px;
            font-size: 1.1rem;
            cursor: pointer;
            transition: background 0.3s ease;
            width: 100%;

            &:hover {
                background-color: darken($light-red, 10%);
            }
        }
    }
}

// portfolio頁面
.portfolio-page {
    text-align: center;
    width: 100%;
    max-width: 1400px;

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;

    .portfolio-item {
        text-align: center;

        a {
            text-decoration: none;
            color: #000;

        }

        
        img {
            width: 300px;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
            object-position: 0;
        }
        p {
            margin-top: 10px;
            font-size: 1.5em;
            color: #000;

            &:hover {
                color: $dark-red;
            }

        }

        .ant {
            object-position: -140px;
        }
    }
    
}

// 麵包屑
.breadcrumb {
    text-align: center;
    margin: 20px 0;
    font-size: 1em;
    color: #666;

    a {
        color: #d4a15e; // Gold color for links
        text-decoration: none;
        margin: 0 5px;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        color: #888; // Gray color for the last item
    }

    > a + a::before, > a + span::before {
        content: ">";
        margin: 0 5px;
        color: #ccc; // Color for separator
    }
}

// 作品展示
.portfolio-show {
    padding: 50px;
    text-align: center;
    
    .portfolio-item {
        max-width: 1200px;
        margin: 0 auto;
        color: #fff;
        font-family: "Arial", sans-serif;
        
        .portfolio-image {
            position: relative;
            margin-bottom: 20px;
            
            img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            }
        }
        
        .portfolio-description {
            padding: 20px;
            
            h2 {
                font-size: 24px;
                margin-bottom: 10px;
                color: #000;
                text-align: left;
                font-weight: bold;
            }
            
            p {
                font-size: 16px;
                line-height: 1.6;
                color: #000;
                text-align: left;
                font-weight: bold;
            }
        }
    }
}


// 頁尾區
footer {
    background: $dark-red;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    max-width: 100%;

    p {
        color: $background-color;
    }

    .footer-links {
        list-style-type: none;

        a {
            color: $background-color;
            text-decoration: none;
            font-size: 14px;
            padding: 0 5px;
            text-decoration: none;

            @media screen and (max-width: $mobile) {
                display: block;
                padding: 8px 0;
            }
        }
    }

    #copy {
        color: black;
        font-size: 8px;
    }
}

// 置頂箭頭
#arrow {
    background-image: url(./img/arrow.png);
    position: fixed;
    z-index: 2;
    width: 32px;
    height: 32px;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}


